<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!-- Main Theme Js -->
    <script src="~/assets/js/authentication-main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="~/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="~/assets/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet">

</head>

<body>


    @RenderBody()


    <!-- Main Theme Js -->
    <script src="~/assets/js/authentication-main.js"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="~/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style Css -->
    <link href="~/assets/css/styles.min.css" rel="stylesheet">

    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet">


    <!-- Custom-Switcher JS -->
    <script src="~/assets/js/custom-switcher.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Show Password JS -->
    <script src="~/assets/js/show-password.js"></script>

</body>
</html>
