<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="MesesMaximosSinFiltro" value="6" />
		<add key="MesesMaximosConFiltro" value="11" />
		<add key="RutaArcvhivos" value="D:\Descargas\rutaDemoMG360\" />
		
		<add key="uWebServ" value="UserEasy" />
		<add key="pWebServ" value="_UserEasy*2024" />
		
		<add key="EndPointMG" value="http://192.168.1.96/WebserviceMg/" />
		<add key="PassMG" value="PassWMG$092o.24" />

		<add key="usrFactur" value="20509532622mont02" />
		<add key="passFactur" value="*FacturElec,2024#" />
		<add key="usrGuia" value="https://api.nubefact.com/api/v1/0cee7393-85da-4ee8-805f-88ce0a081569" />
		<add key="passGuia" value="a39d9098a1d64ee597c7ed63ebc6d44f37b3c46b714b46bab47f2a2450717c11" />

		<add key="userUtil" value="UtilDemo" />
		<add key="passUtil" value="*UtilDemo,2024" />
		
		<add key="HostCpanel" value="mail.montgroup.pe" />
		<add key="PortCpanel" value="25" />
		<add key="EmailCpanel" value="sistemas@montgroup.com.pee" />
		<add key="PassCpanel" value="Sit2025?9*N_Noti*" />

		<add key="userSharepoint" value="sistemas@montgroup.com.pe" />
		<add key="passSharepoint" value="Sit2025?9*N_Noti*" />

		<add key="CarpetaOC" value="public/orden_de_compra_pedido/" />

		<add key="URL_RENIEC" value="https://dniruc.apisperu.com/api/v1/" />
		<add key="TOKEN_RENIEC" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6ImNzYWxjZWRvQGNzcHNpc3RlbWFzLm5ldCJ9.eNOWR31M0_HiczqTMowuW7TnllPtAKUavsWWFSGWQrI" />


	</appSettings>
	<connectionStrings>
		<!-- MYSQL SERVER -->
		<add name="MYSQL_Conexion_Pedido" connectionString="datasource=192.168.1.97;port=3306;username=svasquez;password=svasqueZ*951;database=db_sistema_mg360_desarrollo;sslmode=0" providerName="MySql.Data.MySqlClient" />
		<add name="MYSQL_Conexion_Accesos" connectionString="datasource=192.168.1.97;port=3306;username=svasquez;password=svasqueZ*951;database=db_accesos_mg_3;sslmode=0" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.3" newVersion="9.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="Service_EasySoap" maxReceivedMessageSize="1073741824" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://192.168.1.97/ServiceMg/Service_Easy.asmx" binding="basicHttpBinding" bindingConfiguration="Service_EasySoap" contract="WebServiceEasy.Service_EasySoap" name="Service_EasySoap" />
  </client>
	</system.serviceModel>
</configuration>
